.margin_left_5{
  margin-left: 5px;
}
.mynavbar{
  color: "0b032d";
}

.info{
  text-align: center;
  min-width: 50vw;
  max-width: 50vw;
  /* background-color: red; */
  min-height: 80vh;
  margin-top: 60px;
  max-height: 70vh;
  margin: auto;
  font-size: 30px;
  display: table;
}
.inside_info{
  /* line-height: 200px; */
  display:table-cell;
  vertical-align: middle;
  width: 50%;
  margin: 0 auto;
}

.signup{
  min-width: 40vw;
  min-height: 80vh;
  max-height: 70vh;
  margin: auto;
  /* background-color: blue;  */
}
.input-field input[type=text]:focus + label {
     color: #000;
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }

.input-field > label{
        color:#000;
   }

.mysignupbtn{
  text-align: center;
  margin-bottom: 15px;
}
.mysigninbtn{
  text-align: center;
  margin-bottom: 15px;
}
.mycontainer1{
  max-width:450px;
  margin: auto;
  /* border: 3px solid #73AD21; */
  margin: 50px;
  padding: 50px;
  text-align: center;
  width: 100px;
  border: 2px solid #000;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -moz-box-shadow: 0px 3px 8px rgb(100,100,100);
-webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
box-shadow: 0px 3px 8px rgb(100,100,100);
}
.mycontainer2{
  max-width:450px;
  margin: auto;
  /* border: 3px solid #73AD21; */
  margin: 50px;
  padding: 10% 0;
  text-align: center;
  width: 100px;
  border: 2px solid #000;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -moz-box-shadow: 0px 3px 8px rgb(100,100,100);
-webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
box-shadow: 0px 3px 8px rgb(100,100,100);
}

/* .mycontainer2{
  margin: 0 auto;
  width: 210px;
} */
/* .form label{
		display: inline-block;
		text-align: right;
		float: left;
	}
	.form input{
		display: inline-block;
		text-align: left;
		float: right;
	} */
.first_section{
 min-width: 30vw;
 max-width: 30vw;
 /* background-color: red; */
 min-height: 80vh;
 max-height: 80vh;
 /* float: left; */
}
.second_section{
  padding: 5% 0;
 min-width: 60vw;
 max-width: 60vw;
 min-height: 80vh;
 max-height: 80vh;
 /* background-color: blue; */
 width: 50%;
 margin: 0 auto;
}
/* .third_section{
  min-width: 10vw;
  max-width: 10vw;
  min-height: 80vh;
  max-height: 80vh;
  background-color: red;
} */
